logs/
**/__pycache__
.DS_Store
*.egg-info
main.exp
main.lib
main.obj
outputs/*
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/equibot_for_franka_rope/v17/DocumentLayout.json
.vs/equibot_for_franka_rope/v17/.wsuo
franka_rope.py
